<a href="ajax-test/refresh" class="btn btn-success ajax">refresh</a>

<ul>
{% for sample in samples %}
	<li><a href="ajax-test/{{ sample.id }}" class="ajax">{{ sample.name }}</a></li>
{% endfor %}
</ul>

<form action="ajax-test/create" enctype="multipart/form-data" class="ajax">
	<input class="form-control" name="name" placeholder="The name...">
	<br >
	<input class="form-control" name="file" type="file">
	<br>
	<input type="submit" value="Create" class="btn btn-info">
</form>