<div class="row">
	<div class="col-md-6">
		<radon-block id="samples_list">
			{% include '@SampleModule/sample-list.twig' %}
		</radon-block>
	</div>
	<div class="col-md-6">
		<radon-block id="sample_view">
			{% include '@SampleModule/sample-view-blank.twig' %}
		</radon-block>
	</div>
</div>
